@import './fonts/index.css';

@import 'tailwindcss/base';
@import './base/index.css';

@import 'tailwindcss/components';
@import './components/index.css';

@import 'tailwindcss/utilities';
@import './utilities/index.css';

@import 'tailwindcss/utilities';
@import './utilities/index.css';

:root {
  --modal-head-size: theme(width.24);
  --modal-head-offset: calc(theme(padding[2.5]) + (var(--modal-head-size) * 0.5));

  --header-height: theme(height.12);
  --header-margin-desktop: theme(margin.8);
  --total-height: calc(var(--header-height) + var(--header-margin-desktop));
}

html {
  background-color: #001c2b;
}

h1, p, .font-tt-square {
  font-family: "TTSC-Regular", sans-serif !important;
}

input {
  outline: none !important;
}

.verPositionToScreen {
  margin-top: 50vh !important;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
